.header {
    background: var(--white);
    height: 237px;
    padding-top: 96px;
}

.header__container {
    max-width: 1120px;
    margin: 0 auto;
}

.header-title {
    width: 670px;
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);
}
